# ==========================================
# Environment Variables & Secrets Template
# DO NOT commit the actual .env file to git!
# ==========================================

# Pipeline Storage Paths
DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/processed

# NYC TLC Source Configuration
NYC_TLC_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data

# Snowflake Credentials (Level 3+)
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_TAXI_DB
SNOWFLAKE_SCHEMA=RAW
